// font-sizes
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;

//colors
$grey: rgba(186, 187, 197, 1);
$greysecond: rgba(198, 203, 205, 1);
$greytext: rgba(108, 114, 121, 1);
$white: rgba(255, 255, 255, 1);
$red: rgba(231, 20, 20 ,1);
$redsecond: rgba(255, 67, 67, 1);
$blue: rgba(15, 11, 218, 1);
$black: rgba(45, 48, 51, 1);
$purple: rgba(92, 50, 73, 1);
$deepblue: rgba(53, 60, 101, 1);
$darkblue: rgba(44, 49, 84, 1);
$darkgrey: rgba(128, 128, 128, 1);


